div.actionWrapperRow {
  width: 100%;
  margin: 10px auto;
}

div.actionWrapperCol {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}
div.actionWrapperCol:hover {
  box-shadow: 3px 3px 9px black;
}


h3.actionTitle {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

div.imageWithButton {
  position: relative;
}

img.actionImage {
  width: 100%;
}

a.actionDetails {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #EA97E8;
  font-weight: bold;
  color: black;
}

a.actionDetails:hover {
  color: white;
  background: #9F329D;
}

div.actionDescription {
  margin: 5px;
  margin-bottom: 32px;
}

div.dataPosted {
  position: absolute;
  right: 3%;
  bottom: 5px;
  font-weight: bold;
}