main {
  min-height: 60vh;
}

.orderTitle {
  margin-top: 20px;
  margin-bottom: 15px;
}

.orderWrapperCol {
  height: 150px;
  display: flex;
  position: relative;
}

.orderWrapperCol .productImage {
  width: 40%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.totalPrice {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.orderButton {
  margin-top: 20px;
  margin-bottom: 10px;
}

.orderButton button {
  display: block;
  color: black;
  width: 100px;
  text-align: center;
  background: #db4141;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  margin: 0 auto;
}

.orderButton button:hover {
  cursor: pointer;
  color: white;
  background: #952C2C;
}

.orderPriceAndWeight {
  display: block;
  width: 50%;
}

.orderWeightPrice {
  display: flex;
}

.orderWeightPrice .productWeight {
  width: 50%;
  text-align: center;
}

.orderWeightPrice .productPrice {
  width: 50%;
  text-align: center;
}

.orderCounter {
  width: 100%;
}

.orderCounter span {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 30px;
  animation: counter 2s linear infinite alternate;
}

@keyframes counter {
  100% {
    top: 90px;
  }
}

.orderExtraInfo {
  text-align: center;
}

.orderExtraInfo a {
  color: black;
}

.orderExtraInfo a:hover {
  color: #B62C2C;
} 

.plusOne {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #74db74;
  color: black;
  border: 1px solid black;
  border-radius: 0 14px 0 5px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.plusOne:hover {
  cursor: pointer;
  background: #39aa39;
  color: white;
}

.minusOne {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ff7575;
  color: black;
  border: 1px solid black;
  border-radius: 5px 0 14px 0;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}

.minusOne:hover {
  cursor: pointer;
  background: #DC3838;
  color: white;
}

.statusQuantity {
  width: 34%;
}

.statusQuantity div {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border: 1px solid black;
}

.moreInfo {
  margin-top: 20px;
}

form.orderFormRow {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid black;
  border-radius: 15px;
}

form.orderFormRow input {
  margin-top: 5px;
  margin-bottom: 5px;
}

form input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}

input:invalid {
  border: 1px solid red !important;
}

input:valid {
  border: 2px solid green;
}

input:hover {
  
}