.productDiv {
  width: 40%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

.singleProductImage {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.productDescription {
  font-style: italic;
}

.singleProductWeight {
  width: 50%;
}

.singleProductPrice {
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .productDiv {
  	width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .productDiv {
    width: 70%;
  }
}