html, body {
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
}

header {
  width: 87%;
  height: 130px;
  margin: 0 auto;
}

div.logo {
  padding-top: 15px;
  text-align: center;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #D5CBE4;
}

div.logo img {
  height: 50px;
  width: 100px;
}

div.searchBar {
  background-color: #eff0f1;
  box-sizing: border-box;
  width: 200px;
  position: absolute;
  top: 0;
  right: 6%;
  padding-left: 10px;
  height: 138px;
}

div.searchBar a {
  display: inline-block;
	margin-top: 65px;
  text-decoration: none;
  color: #383FED;
}

div.searchBar a span {
  font-weight: bold;
  margin-left: 15px;
}

div.searchBar a:hover {
  color: #bb0f0f;
}

form.wrapper {
	margin-top: 15px;
  border: 1px solid #e3e4e4;
  width: 170px;
}

div.searchBar input {
	height: 25px;
	border: 0px solid #e3e4e4;
	padding: 0px 5px 0px 5px;
	font-size: 12px;
  width: 130px;
  margin-right: -5px;
}

div.searchBar button {
	box-sizing: border-box;
	border: 0px solid black;
	background-repeat: no-repeat;
	background-color: white;
	padding-top: 9px;
	background-image: url('img/search_icon_1.png');
  width: 30px;
  height: 25px;
}

div.searchBar button:hover {
  cursor: pointer;
}

div.searchBar button:hover {
  background-image: url('img/search_icon_2.png');
}

.drop-down-list {
  padding: 20px 0;
}

.drop-down-list ul {
  padding-left: 0px;
  list-style: none;
}

.drop-down-list > ul {
  display: flex;
}


.drop-down-list > ul li a {
  display: block;
  padding: 0 30px 8px 0;
  color: black;
  text-decoration: none;
}

.drop-down-list > ul > li > a:hover {
  color: #bb0f0f;
}

.drop-down-list > ul li:first-child a{
  padding-right: 60px;
}

.drop-down-list > ul li {
  position: relative;
}

.drop-down-list ul li ul {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
}

.drop-down-list ul li:hover > ul {
  display: block;
}

.drop-down-list > ul > li > ul {
  top: 100%;
  left: -10%;
}

.drop-down-list > ul > li > ul a {
  box-sizing: border-box;
  border: 1px solid #d5cbe4;
  padding: 15px 10px;
  transition: all 0.3s ease-out 0s;
  background: white;
  font-size: 12px;
}

.drop-down-list > ul > li > ul a:hover {
  color: white;
  background: #bb0f0f;
  border: 1px solid #bb0f0f;
}

.drop-down-list ul ul li {
  width: 200%;
}

.menu {
  display: none;
}

/*box-shadow*/

section {
  height: 500px;
  width: 100%;
  background-color: #5D43B5;
  padding-top: 200px;
  padding-left: 100px;
}


@media only screen and (max-width: 1280px) {
  
  div.searchBar {
    right: 0;
  }
  
  .pre-owned-cars,
  .motorsports,
  .service,
  .company {
    display: none;
  }

  .menu {
    display: block;
  }


}