html, body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Arial; 
}

a {
  text-decoration: none !important;
}

header {
  border-top: 1px solid black;
  background: #324234;
  position: sticky;
  top: 0;
  z-index: 1;
}

header div.catalog {
  padding: 10px;
}

header div.catalog a {
  color: white;
  font-size: 18px;
}

header div.catalog a:hover {
  color: #F8BE64;
}

header div.logo a {
  display: flex;
  padding-left: 10%;
}

header div.logo a div {
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: white;
  color: black;
  font-weight: bold;
  text-align: center;
}

header div.logo a:hover div {
  border: 1px solid red;
}

header div.logo a span {
  line-height: 40px;
  margin-left: 5px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

header .basket {
  display: flex;
  background: white;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  padding: 2px 2px;
}

header .basket .img-quantity {
  width: 30%;
  display: flex;
  background: grey;
  border-radius: 20px;
}

header .basket #quantity {
  line-height: 46px;
  color: white;
  margin-left: 12px;
  text-align: center;
  font-weight: bold;
}

header .basket #price {
  width: 30%;
  text-align: center;
  line-height: 46px;
}

header .basket-photo {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-image: url('img/basket.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

header .basket #order {
  color: white;
  font-size: 18px;
  height: 46px;
  width: 40%;
  background: #db4141;
  line-height: 46px;
  text-align: center;
  font-style: italic;
  border-radius: 20px;
}

header .basket #order:hover {
  background: #952C2C;
}

/*!!!!!!!!!!!!!!!
!!!!! MAIN !!!!!!
!!!!!!!!!!!!!!!*/

main .slider {
  width: 98%;
  margin: 10px auto;
  overflow: hidden;
}

main .slider .slide-wrapper {
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
  transition: all 1s ease 0s;
  display: flex;
}

main .slider .slide-wrapper div {
  border-radius: 30px;
  border: 1px solid black;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 400px;
}

main .slider .slide-wrapper .action-1 { background-image: url('img/action_1.jpeg') }

main .slider .slide-wrapper .action-2 { background-image: url('img/action_2.jpg') }

main .slider .slide-wrapper .action-3 { background-image: url('img/action_3.jpeg') }

main .slider .slide-wrapper .action-4 { background-image: url('img/action_4.png') }

main .slider .slide-wrapper .action-5 { background-image: url('img/action_5.jpeg') }

main .slider .switch {
  display: flex;
  justify-content: center;
}

main .slider .switch div {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

main .slider .switch div:hover {
  cursor: pointer;
}

.activeCircle {
  background: #324234;
}



/*!!!!!!!!!!!!!
!! Footer !!!!!
!!!!!!!!!!!!!*/

footer {
  background: #324234;
  color: #D2E894;
}

footer h3 {
  margin-top: 16px;
}

footer h4 {
  margin-top: 24px;
}

footer a {
  display: block;
  color: white;
  margin-bottom: 5px;
}

footer a:hover {
  color: #87CD57;
}

@media only screen and (max-width: 991px) {
  header .basket {
    margin-right: 0;
  }
}

@media only screen and (max-width: 460px) {
  header .basket {
  	margin: 0 5% 0 10%;
    width: 200px;
  }
  header .basket .img-quantity {
    width: 40%;
  }

  header .basket #quantity {
    margin-left: 5px;
  }

  header .basket #order {
    width: 60%;
  }

  header .basket #price {
  	display: none;
  }

  main .slider .slide-wrapper {
    height: 300px;
  }
}