html, body {
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
  font-family: Arial;
}

header {
  width: 87%;
  height: 130px;
  margin: 0 auto;
}

div.logo {
  padding-top: 15px;
  text-align: center;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #D5CBE4;
}

div.logo img {
  height: 50px;
  width: 100px;
}

div.searchBar {
  background-color: #eff0f1;
  box-sizing: border-box;
  width: 200px;
  position: absolute;
  top: 0;
  right: 6%;
  padding-left: 10px;
  height: 140px;
}

div.searchBar a {
  display: inline-block;
	margin-top: 65px;
  text-decoration: none;
  color: #383FED;
}

div.searchBar a span {
  font-weight: bold;
  margin-left: 15px;
}

div.searchBar a:hover {
  color: #bb0f0f;
}

form.wrapper {
	margin-top: 15px;
  border: 1px solid #e3e4e4;
  width: 170px;
  display: flex;
}

div.searchBar input {
  box-sizing: border-box;
	height: 25px;
	border: 0px solid #e3e4e4;
  padding: 0px 10px 0px 5px;
	font-size: 12px;
  width: 140px;
}

div.searchBar button {
	box-sizing: border-box;
	border: 0px solid black;
	background-repeat: no-repeat;
	background-color: white;
	background-image: url('img/search_icon_1.png');
  width: 30px;
  height: 25px;
}

div.searchBar button:hover {
  cursor: pointer;
  background-image: url('img/search_icon_2.png');
}

.drop-down-list {
  padding: 21px 0 0 0;
  display: flex;
}

.drop-down-list ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  z-index: 1;
}

.drop-down-list .models-menu {
  max-height: 25px;
}

.drop-down-list  ul.models-menu li:first-child a{
  padding-right: 60px;
}

.drop-down-list a {
  display: block;
  background: white;
  padding: 0 30px 8px 0;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

.drop-down-list .first-nesting a {
  box-sizing: border-box;
  border: 1px solid #d5cbe4;
  padding: 15px 10px;
  font-size: 12px;
  width: 200px;
}

.drop-down-list > ul li {
  position: relative;
}

.drop-down-list ul.second-nesting {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
}

.drop-down-list li:hover > ul {
  display: block;
}

.drop-down-list ul.first-nesting {
  position: absolute;
  display: none;
  top: 100%;
  left: -10%;
}

.menu {
  display: none;
}

/*!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!! MAIN !!!!!!!!
!!!!!!!!!!!!!!!!!!!!!*/

main {
  width: 100%;
  font-size: 16px;
  /*border: 5px solid green;*/
  border-radius: 20px;
}

section.carInfo {
  padding: 10px 30px;
  box-sizing: border-box;
  height: 650px;
  width: 100%;
  background-image: url('img/taycan_background.jpg');
  color: white;
  position: relative;
}

section.carInfo div.Tools {
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 6%;
  background: linear-gradient(45deg, #6B5CE3, #3027EA);  
}

section.carInfo div.Tools a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  height: 100%;
  color: white;
  padding: 5px 0 0 10px;
}

section.carInfo div.Tools a:hover {
  color: black;
}

section.carInfo div.Tools a span {
  font-weight: bold;
  margin-left: 15px;
}

section.carInfo div.button {
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid black;
  color: black;
  font-size: 1.5em;
  line-height: 40px;
  position: absolute;
  top: 50%;
}

section.carInfo div.previous {
  left: 0;
}

section.carInfo div.next {
  right: 0;
}

section.carInfo div.button:hover {
  cursor: pointer;
  color: white;
  background: black;
  border: 1px solid white;
}

section.carInfo div.carView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 400px 150px 60px;
}

section.carInfo > div > div:nth-child(1) {
  grid-column: 1 / -1;
}

section.carInfo div {
  text-align: center;
}

section.carInfo div.Turbo,
section.carInfo div.TurboS {
  display: none;
}

section.carInfo div img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 300px;
}

section.carInfo h1 {
  font-size: 2.5em;
}

section.carInfo div.withBorder a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  transition: all 0.3s ease-out 0s;
}

section.carInfo div.withBorder a:hover {
  border: 1px solid red;
  color: red;
  box-shadow: -5px 5px 5px black;
  font-weight: bold;
}

section.carInfo div.circles {
  display: flex;
  justify-content: space-around;
  width: 70px;
  margin: 0 auto;
}

section.carInfo div.circles div {
  background: white;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

section.carInfo div.circles .first {
  background: red;
}

section.carInfo div.circles div:hover {
  cursor: pointer;
}

main div.anchors {
  height: 60px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 1;
}

main div.anchors a {
  display: block;
  width: 20%;
  text-decoration: none;
  color: black;
  line-height: 60px;
  text-align: center;
  transition: transform 1s ease 0s;
}

main div.anchors a:hover {
  color: #19BEE0;
  transform: rotate(360deg);
}

main section.anchorsBlock {
  color: white;
  margin-top: -20px;
  padding: 100px 10% 50px 10%;
  max-height: 600px;
}

main section#Highlights {
  background: linear-gradient(#000000, #800000, #000000);  
}

main section#Design {
  background: linear-gradient(#000000, #225F32, #000000);
}

main section#Performance {
  background: linear-gradient(#000000, #164876, #000000);
}

main section.anchorsBlock > p {
  line-height: 25px;
}

main section.anchorsBlock a {
  display: inline-block;
  background: #3594F8;
  height: 40px;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
  animation: button_riding 5s linear infinite alternate 0s none;
  animation-play-state: paused;
}

main section.anchorsBlock a:hover {
  color: #3594F8;
  background: white;
  animation-play-state: paused !important;
}

@keyframes button_riding {
  0% {
    left: 0%;
  }
  25% {
    left: 20%;
  }
  50% {
    left: 40%;
  }
  75% {
    left: 60%;
  }
  100% {
    left: 80%;
  }
}

main section.anchorsBlock a span {
  font-weight: bold;
  margin-right: 10px;
}

main section.anchorsBlock h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

main section.anchorsBlock div.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

main section#Highlights div.wrapper div {
  border-left: 1px solid white;
  padding-left: 15px;
  width: 50%;
}

main section#Design div.wrapper h2,
main section#Performance div.wrapper h2 {
  border-left: 1px solid white;
  padding-left: 15px;
  width: 25%;
}

footer {
  width: 100%;
}

div.copyright {
  background: #191f22;
  color: white;
  height: 5vh;
  width: 100%;
  line-height: 5vh;
  padding-left: 5%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  border-radius: 7px 7px 0 0;
}

@media only screen and (max-width: 1280px) {
  
  div.searchBar,
  section.carInfo div.Tools {
    right: 0;
  }

  .menu {
    display: block;
  }

  ul.extraMenu {
    display: none;
    position: relative;
    top: 24px;
    left: -80px;
  }

  .extraMenu a {
    font-size: 12px;
    border: 1px solid #d5cbe4;
    padding: 15px 10px;
  }

  .drop-down-list ul.extraMenu li ul {
    left: 100%;
    top: 0;
  }

  section.carInfo {
    padding: 20px 30px 0px 30px;
  }

  section.carInfo div.carName {
    grid-area: nameANDimage;
  }

  section.carInfo div.acceleration {
    grid-area: info1;
    padding-top: 25px;
  }

  section.carInfo div.topSpeed {
    grid-area: info2;
    padding-top: 25px;
  }

  section.carInfo div.kW {
    grid-area: info3;
  }

  section.carInfo div.TechnoSpecs {
    grid-area: button1;
  }

  section.carInfo div.BuildYourOwn {
    grid-area: button2;
  }

  section.carInfo div.Compare {
    grid-area: button3;
  }

  section.carInfo div img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

  section.carInfo div.carView {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 60px 60px 60px;
    grid-template-areas: 
      "nameANDimage info1 info2"
      "nameANDimage info3 info3"
      "button1 button1 button1"
      "button2 button2 button2"
      "button3 button3 button3"
  }
 
  section.carInfo div.Turbo,
  section.carInfo div.TurboS {
    display: none;
  }

  section.carInfo div.withBorder a {
    display: block;
    text-align: left;
  }

  section.carInfo div.button {
    top: 55%;
  }

  section.carInfo > div > div:nth-child(1) {
    grid-column: 1 / 2;
  }

  section.anchorsBlock div.wrapper {
    flex-direction: column;
  }

  main section#Highlights div.wrapper div,
  main section#Design div.wrapper h2,
  main section#Performance div.wrapper h2 {
    border-left: 0;
    padding-left: 0;
    width: 100%;
  }

  @keyframes button_riding {
  0% {
    left: 0%;
  }
  25% {
    left: 15%;
  }
  50% {
    left: 30%;
  }
  75% {
    left: 45%;
  }
  100% {
    left: 60%;
  }
}

}